/* HEADER */

#masthead .ast-container {
    padding-right: 0;
}

#ast-hf-menu-1 a:hover  {
    color: #000000;
    font-weight: 700;
    font-size: 13px;
}

#menu-item-21 {
    order: 3;
}

#menu-item-22 {
    order: 1;
}

#menu-item-23 {
    order: 2;
}

#menu-item-21 a {
    background-color: #DC9F96;
    font-weight: 700;
    color: #FFFFFF;
    margin-right: -20px;
}

#menu-item-21 a:hover {
    background-color: #C02E44;
    font-size: 16px;
} 

.site-title {
    display: none; 
}

/* FORMULAIRES */

.wpcf7 form label {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}

.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea {
    border-radius: 7px;
    border: 0;
    box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.04)
}

.wpcf7 input[type="text"], .wpcf7 input[type="email"] {
    height: 71px;
    margin-block: 13px 22px;
}

.wpcf7 textarea {
    margin-top: 13px;
}

.wpcf7 input[type="submit"] {
    display: block;
    margin-inline: auto;
    margin-top: 24px;
    background-color: #E0B9B4;
    font-size: 15px;
    font-weight: 400;
    line-height: 37px;
    padding: 9px 73px;
}

.wpcf7 input[type="submit"]:hover {
    background-color: #C02E44;
}

/* FORMULAIRE DE COMMANDE */

.order-product label {
    display: none;
}

.order-products {
    display: flex;
    justify-content: center;
    gap: 180px;
}

.order-product input.wpcf7-form-control:not([type=submit]) {
    width: 39px;
    height: 56px;
    border-radius: 0;
    padding-left: 12px;
}

.info-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 53px;
}

.info-form .form-title, .wpcf7 form label {
    color: #FFFFFF;
}

.info-form .form-title {
    margin-bottom: 29px;
}

.info-form .informations {
    border-right: solid 1px #FFFFFF;
    padding-right: 45px;
}

.info-form .delivery {
    padding-left: 44px;
}

.wpcf7 input.wpcf7-form-control:not([type=submit]):last-child {
    margin-bottom: 0;
}

.wpcf7 form input[type="submit"] {
    margin-block: 44px 93px;
}

/* FOOTER */

.ast-hfb-header .site-footer {
    margin: 0;
}

.site-below-footer-wrap[data-section="section-below-footer-builder"] {
    border: none;
}

.site-below-footer-wrap {
    padding: 0;
}



/* RESPONSIVE */

/* FORMULAIRES */

@media screen and (min-width: 426px) and (max-width: 1023px) {
    .order-products {
        gap: 145px;
    }
}


@media screen and (min-width: 320px) and (max-width: 425px) {
    .order-products {
        gap: 33px;
    }

    .info-form {
        display: flex;
        flex-direction: column;
    }

    .info-form .informations {
        border-right: none;
        border-bottom: solid 1px #FFFFFF;
        padding-right: 0;
    }

    .info-form .delivery {
        padding-left: 0;
    }

    .info-form .delivery .form-title {
        margin-top: 53px;
    }
}